<ion-view class="bar-calm" view-title="Home">
  <ion-content>

    <!-- User Input -->
    <h4 class="headStyle"><b>Hunger level?</b></h4>
    <div class="item range range-royal customMargin">
      <span>0</span>
      <input type="range" name="hunger" ng-model="value" min="0" max="10">
      <span>{{value}}</span>
    </div>
    <h4 class="headStyle"><b>What to eat?</b></h4>
    <div class="list customMargin">
      <label class="item item-input item-select">
        <div class="input-label">
          What type of meal?
        </div>

        <select ng-model="selectModel" ng-change="selectValue(selectModel)" ng-options="option.type for option in typeOfMeals track by option.id">
        </select>
      </label>
    </div>
    <!-- EO | User Input -->


    <!-- Loading data spinner -->
    <div class="headStyle" ng-show="!isLoaded" >
      <ion-spinner icon="android" class="spinner-assertive"></ion-spinner>
    </div>


    <!-- Results for selected type -->
    <h4 ng-show="selectModel != null && isLoaded == true" class="headStyle">Showing restaurants for "{{selectModel.type}}"</h4>
    <div class="list customMargin" ng-repeat="data in showItems"  ng-hide="showItems.length == 0">
      <a class="item item-thumbnail-left" href="#">
        <img ng-src="{{data.imgSrc}}">
        <h2><b>{{data.name}}</b></h2>
        <p>Type: {{data.type}}</p>
        <p>Delivery time: {{data.deliveryTime}}</p>
      </a>
    </div>

    <div class="headStyle" ng-show="selectModel != null && showItems.length == 0">
      No restaurants available for {{selectModel.type}}
    </div>



  </ion-content>
</ion-view>
