<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">Add new item</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>

  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Item name</span>
        <input ng-model="newItem.name" type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Restaurant</span>
        <input ng-model="newItem.rest" type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Comments</span>
        <input ng-model="newItem.comments" type="text">
      </label>
      <button class="button button-full button-assertive" ng-click="addItem(newItem)">Add</button>
    </div>
  </ion-content>
</ion-modal-view>
