<ion-view view-title="Search" class="back">
  <ion-content>
    <div class="headStyle customAlignment opacity">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" ng-model="searchVal" placeholder="Search">
        </label>
      </div>
      <div class="list list-shadow customMargin" ng-repeat="data in getRest | filter:searchVal"  ng-hide="searchRest.length == 0">
        <a class="item item-thumbnail-left" href="#/app/search">
          <img ng-src="{{data.imgSrc}}">
          <h2><b>{{data.name}}</b></h2>
          <p>Type: {{data.type}}</p>
          <p>Delivery time: {{data.time}}</p>
        </a>
      </div>
    </div>
  </ion-content>
  <!--<ion-floating-button ng-click="" has-footer="false" button-color="#ef473a" icon="ion-ios-loop-strong" icon-color="#fff">-->
  <!--</ion-floating-button>-->
</ion-view>
