/** my css **/
.back {
  /*background: url('https://s-media-cache-ak0.pinimg.com/736x/72/43/4e/72434efa188945df8b989beacc3bde42.jpg');*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
}
#votes-view .count-label {
  /*border-radius: 50%;*/
  height: 36px;
  width:36px;
  position: absolute;
  right: 3px;
  bottom: 2px;

  background-color: rgb(239, 71, 58);
}
#votes-view .count-label span {
  vertical-align: -9px;
  color: white;
}
#votes-view i.ion-person{
  position: absolute;
  right: 41px;
  bottom: -5px;
  color: rgb(239, 71, 58);
  font-size: 65px;
  opacity: 0.5;
}
.opacity {
  opacity: 0.9;
}
.menuLogo {
  width:135px;
  height: 20px;
  margin-top: 10px;
}
.headStyle {
  text-align: center;
  padding-top: 20px;
}
.customMargin {
  margin-top: 20px;
}
.myCustomFont {
  color: #FFFFFF;
}
.customAlignment {
  margin: 15px auto 50px auto;
  width: 90%;
  padding-bottom: 40px;
}
.list-shadow {
  box-shadow: 0px 1px 15px -5px rgba(0,0,0,0.92);
}
.item-options {
  height: 99%;
}
/*custom is class added to ion-content*/

.custom {
  background-color: #3f4041 !important; /* This sets the background color*/
}

/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #666;   /*Sets colors for top and bottom border*/
  color: white;    /*Text color for each item*/
}

/*Changes the border for the last item*/
.custom .item:last-child {
  border-bottom: 1px solid #666;
}

.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: white;  /*Text color for each item, overrides the color property above*/
}

.button {
  border-radius:0;
}
